# do not use production locally, because it will make github comments
ENVIRONMENT="development"

OPENAI_API_KEY=<your_openai_api_key>

USE_CHEAP_LLM_ONLY="True" # Set to false on production or when judging model outputs.

# pass them as auth headers in the request, you can set these as any value
USER_API_AUTH_TOKEN="user_anything"
INTERNAL_API_AUTH_TOKEN="internal_anything"

GITHUB_APP_ID=<github_app_id>
GITHUB_APP_PRIVATE_KEY=<github_app_private_key_pem_format>
GITHUB_WEBHOOK_SECRET=<your_github_webhook_secret>
