# do not use production locally, because it will make github comments
ENVIRONMENT="development"

GITHUB_TOKEN=<your_github_token_to_access_repos_make_comments>
OPENAI_API_KEY=<your_openai_api_key>


# you can set these as any value, and pass them as auth headers in the request
USER_API_AUTH_TOKEN="user_anything"
INTERNAL_API_AUTH_TOKEN="internal_anything"